div.now-playing {
    position:absolute;
    bottom:0;
    left:0;
    height:100px;
    width:100vw;
    background:rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
    z-index:1100;
}

div.dark div.now-playing {
    background: rgb(26, 26, 29);
}

div.now-playing-inner {
    position:relative;
    height:100px;
    width:100vw;
    margin:0;
    padding:0;
}

div.progress-bar {
    position:absolute;
    top:0;
    left:0;
    transform:translateY(-100%);
    height:5px;
    width:100vw;
    background:rgb(255, 255, 255);
    cursor:pointer;
    transition:height .1s ease-in-out;
    -webkit-box-shadow: inset 0px 0px 19px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 19px -10px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 19px -10px rgba(0,0,0,0.75);
}

div.progress-bar-container {
    position:relative;
    margin:0;
    padding:0;
    height:100%;
    width:100vw;
}

div.progress-bar-inner,
div.progress-bar-buffer {
    position:absolute;
    top:0;
    left:0;
    height:100%;
}

div.progress-bar-inner {
    background:rgb(14, 82, 184);
    z-index: 1100;
}

div.progress-bar-buffer {
    background:rgba(103, 129, 247, 0.377);
    z-index:1000;
}

div.time-indicator {
    position:absolute;
    height:15px;
    line-height:15px;
    width:100px;
    font-size:14px;
    color:rgb(48, 48, 48);
    text-align:center;
    border-radius:5px;
}

div.dark div.time-indicator {
    color:rgb(165, 165, 165);
}

div.progress-bar-hover {
    position:relative;
    float:left;
    height:100%;
    width:30%;
    background:rgba(54, 102, 173, 0.288);
}

div.progress-bar:hover {
    height:15px;
}

div.dark div.progress-bar {
    background:rgb(63, 63, 63);
}

div.dark div.progress-bar-inner {
    background:rgb(119, 132, 252);
}

div.dark div.progress-bar-hover {
    background:rgba(119, 132, 252, 0.288);
}

div.nowplaying-information {
    position:absolute;
    top:50%;
    left:0;
    transform:translate(15px,-50%);
    height:80px;
    width:30vw;
    margin:10px;
    padding:0;
}

div.nowplaying-title, div.nowplaying-artist {
    width:35vw;
    height:40px;
    float:left;
    line-height:40px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.nowplaying-title {
    font-size:20px;
    color:rgb(49, 49, 49);
}

div.dark div.nowplaying-title {
    color:rgb(236, 236, 236);
}

div.nowplaying-artist {
    font-size:14px;
    line-height:14px;
    color:rgb(87, 87, 87);
}

div.dark div.nowplaying-artist {
    color:rgb(156, 156, 156);
}

div.controls {
    position:absolute;
    width:15vw;
    height:100px;
    left:50%;
    top:0;
    transform:translateX(-50%);
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
}

div.rewind, div.playpause, div.fastforward {
    position:relative;
    margin:0;
}

div.rewind, div.fastforward {
    flex-grow:1;
}

div.playpause {
    flex-grow: 2;
}

div.control-outer {
    height:60px;
    width:60px;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    cursor:pointer;
    transition:opacity .1s ease-in-out;
    overflow:hidden;
}

div.playpause div.control-outer {
    background: rgb(70, 60, 202);
}

div.control-outer:hover {
    opacity:.8;
}

div.control-outer-small {
    height:50px;
    width:50px;
}

div.control-inner {
    position:relative;
    height:60px;
    width:60px;
    margin:0;
    padding:0;
}

div.control-inner-small {
    height:50px;
    width:50px;
}

div.control-inner img {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:40px;
    margin:0;
}

div.control-inner-small img {
    width:30px;
}

div.options {
    position:absolute;
    right:0;
    top:50%;
    height:60px;
    display:flex;
    flex-direction: row;
    justify-items: right;
    z-index:1300;
    transform:translate(-15px, -50%);
}

div.option-outer {
    position:relative;
    width:80px;
    margin:0;
    padding:0;
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    transition:transform .1s ease-in-out;
}

div.option-outer:hover {
    transform:translateY(-3px);
}

div.option-outer img {
    margin:0;
    width:30px;
    transition:opacity .1s ease-in-out;
}

div.option-outer img.option-inactive {
    opacity:0.4;
}

@keyframes expand-volume {
    0% {
        height:0;
    }
    100% {
        height:160px;
    }
}

div.volume-bar {
    position:absolute;
    top:0;
    left:50%;
    width:40px;
    height:160px;
    border-radius:5px;
    background:rgb(250, 220, 196);
    border:1px solid rgb(241, 123, 68);
    margin:0;
    transform:translate(-50%, -100%);
    -webkit-box-shadow: 0px 0px 19px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px -9px rgba(0,0,0,0.75);
    overflow:hidden;
    z-index:1300;
    animation: expand-volume .15s ease-in-out 1 forwards;
}

div.volume-bar-inner {
    position:relative;
    margin:0;
    width:40px;
    height:160px;
    z-index:1250;
}

div.volume-pheno, div.volume-hover {
    position:absolute;
    bottom:0;
    left:0;
    margin:0;
    width:40px;
}

div.volume-pheno {
    z-index:1250;
    background:rgb(241, 123, 68);
}

div.volume-hover {
    z-index: 1300;
    transform:translateY(1px);
    border-top:1px solid rgb(190, 58, 40);
}

div.volume-bar-muted {
    background:rgb(194, 194, 194);
    border:1px solid rgb(71, 71, 71);
}

div.volume-bar-muted div.volume-pheno {
    background:rgb(71, 71, 71);
}

div.volume-bar-muted div.volume-hover {
    border-top:1px solid rgb(54, 54, 54);
}